.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.styleFirstFloor {
    background-color: rgb(126, 205, 241);
    width: 20%;
    border: 2px solid black;
}

.styleFirstFloor:hover {
    cursor: pointer;
}

.styleSecondFloor {
    background-color: rgb(126, 205, 241);
}
